<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.narc.alibaba.service.alimama.dao.mapper.AlitMessageLogMapper">
  <resultMap id="BaseResultMap" type="com.narc.alibaba.service.alimama.entity.AlitMessageLog">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SENDER_ID" jdbcType="VARCHAR" property="senderId" />
    <result column="SENDER_NAME" jdbcType="VARCHAR" property="senderName" />
    <result column="MSG_CONTENT" jdbcType="VARCHAR" property="msgContent" />
    <result column="RET_MSG" jdbcType="VARCHAR" property="retMsg" />
    <result column="ITEM_ID" jdbcType="VARCHAR" property="itemId" />
    <result column="DISCOUNT_RATE" jdbcType="DECIMAL" property="discountRate" />
    <result column="CREATED_DATETIME" jdbcType="TIMESTAMP" property="createdDatetime" />
    <result column="CREATED_ID" jdbcType="VARCHAR" property="createdId" />
    <result column="MODIFIED_DATETIME" jdbcType="TIMESTAMP" property="modifiedDatetime" />
    <result column="MODIFIED_ID" jdbcType="VARCHAR" property="modifiedId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, SENDER_ID, SENDER_NAME, MSG_CONTENT, RET_MSG, ITEM_ID, DISCOUNT_RATE, CREATED_DATETIME, 
    CREATED_ID, MODIFIED_DATETIME, MODIFIED_ID
  </sql>
  <select id="selectByExample" parameterType="com.narc.alibaba.service.alimama.entity.AlitMessageLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ALIT_MESSAGE_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ALIT_MESSAGE_LOG
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ALIT_MESSAGE_LOG
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.narc.alibaba.service.alimama.entity.AlitMessageLogExample">
    delete from ALIT_MESSAGE_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.narc.alibaba.service.alimama.entity.AlitMessageLog">
    insert into ALIT_MESSAGE_LOG (ID, SENDER_ID, SENDER_NAME, 
      MSG_CONTENT, RET_MSG, ITEM_ID, 
      DISCOUNT_RATE, CREATED_DATETIME, CREATED_ID, 
      MODIFIED_DATETIME, MODIFIED_ID)
    values (#{id,jdbcType=INTEGER}, #{senderId,jdbcType=VARCHAR}, #{senderName,jdbcType=VARCHAR}, 
      #{msgContent,jdbcType=VARCHAR}, #{retMsg,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, 
      #{discountRate,jdbcType=DECIMAL}, #{createdDatetime,jdbcType=TIMESTAMP}, #{createdId,jdbcType=VARCHAR}, 
      #{modifiedDatetime,jdbcType=TIMESTAMP}, #{modifiedId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.narc.alibaba.service.alimama.entity.AlitMessageLog">
    insert into ALIT_MESSAGE_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="senderId != null">
        SENDER_ID,
      </if>
      <if test="senderName != null">
        SENDER_NAME,
      </if>
      <if test="msgContent != null">
        MSG_CONTENT,
      </if>
      <if test="retMsg != null">
        RET_MSG,
      </if>
      <if test="itemId != null">
        ITEM_ID,
      </if>
      <if test="discountRate != null">
        DISCOUNT_RATE,
      </if>
      <if test="createdDatetime != null">
        CREATED_DATETIME,
      </if>
      <if test="createdId != null">
        CREATED_ID,
      </if>
      <if test="modifiedDatetime != null">
        MODIFIED_DATETIME,
      </if>
      <if test="modifiedId != null">
        MODIFIED_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="senderId != null">
        #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null">
        #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null">
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="retMsg != null">
        #{retMsg,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="discountRate != null">
        #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="createdDatetime != null">
        #{createdDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdId != null">
        #{createdId,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDatetime != null">
        #{modifiedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedId != null">
        #{modifiedId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.narc.alibaba.service.alimama.entity.AlitMessageLogExample" resultType="java.lang.Long">
    select count(*) from ALIT_MESSAGE_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ALIT_MESSAGE_LOG
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.senderId != null">
        SENDER_ID = #{record.senderId,jdbcType=VARCHAR},
      </if>
      <if test="record.senderName != null">
        SENDER_NAME = #{record.senderName,jdbcType=VARCHAR},
      </if>
      <if test="record.msgContent != null">
        MSG_CONTENT = #{record.msgContent,jdbcType=VARCHAR},
      </if>
      <if test="record.retMsg != null">
        RET_MSG = #{record.retMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null">
        ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.discountRate != null">
        DISCOUNT_RATE = #{record.discountRate,jdbcType=DECIMAL},
      </if>
      <if test="record.createdDatetime != null">
        CREATED_DATETIME = #{record.createdDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdId != null">
        CREATED_ID = #{record.createdId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedDatetime != null">
        MODIFIED_DATETIME = #{record.modifiedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedId != null">
        MODIFIED_ID = #{record.modifiedId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ALIT_MESSAGE_LOG
    set ID = #{record.id,jdbcType=INTEGER},
      SENDER_ID = #{record.senderId,jdbcType=VARCHAR},
      SENDER_NAME = #{record.senderName,jdbcType=VARCHAR},
      MSG_CONTENT = #{record.msgContent,jdbcType=VARCHAR},
      RET_MSG = #{record.retMsg,jdbcType=VARCHAR},
      ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      DISCOUNT_RATE = #{record.discountRate,jdbcType=DECIMAL},
      CREATED_DATETIME = #{record.createdDatetime,jdbcType=TIMESTAMP},
      CREATED_ID = #{record.createdId,jdbcType=VARCHAR},
      MODIFIED_DATETIME = #{record.modifiedDatetime,jdbcType=TIMESTAMP},
      MODIFIED_ID = #{record.modifiedId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.narc.alibaba.service.alimama.entity.AlitMessageLog">
    update ALIT_MESSAGE_LOG
    <set>
      <if test="senderId != null">
        SENDER_ID = #{senderId,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null">
        SENDER_NAME = #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null">
        MSG_CONTENT = #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="retMsg != null">
        RET_MSG = #{retMsg,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        ITEM_ID = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="discountRate != null">
        DISCOUNT_RATE = #{discountRate,jdbcType=DECIMAL},
      </if>
      <if test="createdDatetime != null">
        CREATED_DATETIME = #{createdDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdId != null">
        CREATED_ID = #{createdId,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDatetime != null">
        MODIFIED_DATETIME = #{modifiedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedId != null">
        MODIFIED_ID = #{modifiedId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.narc.alibaba.service.alimama.entity.AlitMessageLog">
    update ALIT_MESSAGE_LOG
    set SENDER_ID = #{senderId,jdbcType=VARCHAR},
      SENDER_NAME = #{senderName,jdbcType=VARCHAR},
      MSG_CONTENT = #{msgContent,jdbcType=VARCHAR},
      RET_MSG = #{retMsg,jdbcType=VARCHAR},
      ITEM_ID = #{itemId,jdbcType=VARCHAR},
      DISCOUNT_RATE = #{discountRate,jdbcType=DECIMAL},
      CREATED_DATETIME = #{createdDatetime,jdbcType=TIMESTAMP},
      CREATED_ID = #{createdId,jdbcType=VARCHAR},
      MODIFIED_DATETIME = #{modifiedDatetime,jdbcType=TIMESTAMP},
      MODIFIED_ID = #{modifiedId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <sql id="Batch_Insert_Column_List">
    #{item.id}, #{item.senderId}, #{item.senderName}, #{item.msgContent}, #{item.retMsg}, 
    #{item.itemId}, #{item.discountRate}, #{item.createdDatetime}, #{item.createdId}, 
    #{item.modifiedDatetime}, #{item.modifiedId}
  </sql>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into ALIT_MESSAGE_LOG(
    <include refid="Base_Column_List" />
    ) values
    <foreach collection="list" index="index" item="item" separator=",">
      (
      <include refid="Batch_Insert_Column_List" />
      )
    </foreach>
  </insert>
</mapper>